<div class="UserProfileCard" *ngIf="componentState.state == 'get-success'">
  <div class="ProfileHeader">
    <div class="Profiles">
    <img />
  </div>
    <div class="Name">
      <p>{{ componentState.result.firstname }}</p>
      <p>{{ componentState.result.lastname }}</p>
    </div>
    <button class="confirmButton gray" (click)="viewSettings()">Settings</button>
  </div>
  <div class="separator"></div>
  <app-user-invitations></app-user-invitations>
  <div class="separator"></div>
  <app-user-form *ngIf="componentState.state == 'get-success'" [user]="componentState.result" (submitUser)="updateUser($event)"></app-user-form>
</div>

