<div class="d-flex flex-column justify-content-center align-items-center gap-3">
    <!-- Header -->
    <div class="d-flex flex-row justify-content-between align-items-center gap-2 w-100">
        <!-- Search Input -->
        <div class="d-flex flex-row justify-content-between align-items-center rounded border border-2 border-light bg-dark gap-2 px-2 w-50" style="max-width: 80rem;">
            <input class="form-control p-1 fw-normal border-0 focus:outline-none w-100 text-light bg-dark" type="text" placeholder="Search members">
            <i class="bi bi-search text-light"></i>
        </div>
        <!-- Assign member to role button-->
        <button class="btn btn-sm btn-primary p-2 fw-semibold">Assign member</button>
    </div>

    <!-- Members container -->
    <div class="d-flex flex-column justify-content-start align-items-start gap-3 py-5 px-10 w-100" style="max-width: 40rem;">
        @for (member of members; track $index) {
            <div class="d-flex flex-row justify-content-between align-items-center p-1 rounded w-100 hover-bg-light">
                <div class="d-flex align-items-center gap-1">
                    <img class="rounded-circle" src="../../../../../../assets/profile.jpg" style="width: 1.25rem; height: 1.25rem;"/>
                    <div class="fw-medium">{{member.firstName}} {{member.lastName}}</div>
                </div>
                <button class="btn bi bi-x-circle-fill" (click)="unassignMember.emit(member.id)"></button>
            </div>
        }
    </div>
</div>
