<div class="d-flex flex-column justify-content-start text-start overflow-hidden p-2 h-100 gap-1 border-end border-2">

    <h6 class="text-uppercase fw-medium text-truncate text-muted">Organization</h6>
    <button class="text-truncate rounded p-1 px-2 fw-medium text-start btn btn-outline-secondary" [routerLink]="" [routerLinkActive]="['btn-primary','text-light']">Przegląd</button>
    <button *ngIf="permission" class="text-truncate rounded p-1 px-2 fw-medium text-start btn btn-outline-secondary" [routerLink]="['roles']" [routerLinkActive]="['btn-primary','text-light']">Role</button>
    <button class="text-truncate rounded p-1 px-2 fw-medium text-start btn btn-outline-secondary" [routerLink]="" [routerLinkActive]="['btn-primary','text-light']">Szablon organizacji</button>

    <div class="border my-2 w-100 rounded"></div>

    <h6 class="text-uppercase fw-medium text-truncate text-muted">Zarządzanie użytkownikami</h6>
    <button class="text-truncate rounded p-1 px-2 fw-medium text-start btn btn-outline-secondary" [routerLink]="" [routerLinkActive]="['btn-primary','text-light']">Członkowie</button>
    <button class="text-truncate rounded p-1 px-2 fw-medium text-start btn btn-outline-secondary" [routerLink]="" [routerLinkActive]="['btn-primary','text-light']">Zaproszenia</button>

    <div class="border my-2 w-100 rounded"></div>

    <button class="text-truncate rounded p-1 px-2 fw-medium text-start btn btn-danger" [routerLink]="" [routerLinkActive]="['btn-primary','text-light']">Usuń organizację</button>
</div>
