<div class="Magjob2023"
    style="text-align: center; color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
    MagJob © 2023</div>
<div class="Regulamin"
    style="text-align: center; color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
    Regulamin</div>
<div class="Cookies"
    style="text-align: center; color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
    Cookies</div>
<div class="HelpCenter"
    style="text-align: center; color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
    Help Center</div>
<div class="About"
    style="text-align: center; color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
    About</div>