<div class="container d-flex flex-column justify-content-center" style="width: 100vw;">
  <div class="d-flex justify-content-between">
    <h2>Members List</h2>
    <button class="btn btn-outline-warning m-1" [routerLinkActive]="['link-active']" [routerLink]="['../addMembers']">Add New</button>
  </div>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Pseudonym</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members">
        <th scope="row">1</th>
        <td>{{member.firstName}}</td>
        <td>{{member.lastName}}</td>
        <td>{{member.pseudonym}}</td>
        <td>
          <div class="d-flex justify-content-end">
            <app-edit-member [member]="member"/>
            <app-delete-members [member]="member" (requestListRefreshEvent)="this.loadMembers(this.organizationId!)"/> 
          </div>
            
        </td>
      </tr>
    </tbody>
  </table>
</div>