button {
  background-color: #606560;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #393a39;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

input[type="date"] {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
}

.task-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: black;
  scrollbar-width: none;
}

.task-container h3 {
  margin: 0;
  font-size: 20px;
  color: black;
}

.task-container p {
  margin: 5px 0;
  color: black;
}

.task-container p.important {
  font-weight: bold;
  color: #d9534f;
}

.task-container .task-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
  width: 100%;
}

.main-tasks {
  overflow-y: auto;
  max-height: 500px;
}

.no-tasks {
  font-style: italic;
  color: #000000;
}

