button {
  background-color: #606560;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #393a39;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

input[type="date"] {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
}

.task-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: black;
  scrollbar-width: none;
}

.task-container h3 {
  margin: 0;
  font-size: 20px;
  color: black;
}

.task-container p {
  margin: 5px 0;
  color: black;
}

.task-container p.important {
  font-weight: bold;
  color: #d9534f;
}

.task-container .task-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-container .admin-actions {
  display: flex;
  gap: 10px;
}

.task-container button {
  background-color: #f0ad4e;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.task-container button:hover {
  background-color: #ec971f;
}

.task-container .delete-button {
  background-color: #d9534f;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.task-container .delete-button:hover {
  background-color: #c9302c;
}

.task-container .update-button {
  background-color: #86d94f;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.task-container .update-button:hover {
  background-color: #49c92c;
}

.main-tasks {
  overflow-y: auto;
  max-height: 500px;
}

.no-tasks {
  font-style: italic;
  color: #000000;
}

/*.disabled-button {*/
/*  background-color: grey;*/
/*  color: white;*/
/*  cursor: not-allowed;*/
/*  border: none;*/
/*  padding: 10px;*/
/*  border-radius: 5px;*/
/*  position: relative;*/
/*}*/

/*.disabled-button:hover {*/
/*  background-color: #c9302c;*/
/*}*/

/*.tooltip-container {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*}*/

/*.tooltip-text {*/
/*  visibility: hidden;*/
/*  background-color: #ffffff;*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  border-radius: 5px;*/
/*  padding: 5px;*/
/*  position: absolute;*/
/*  z-index: 1;*/
/*  left: 50%;*/
/*  transform: translateX(-50%);*/
/*  opacity: 0;*/
/*  transition: opacity 0.3s;*/
/*  white-space: nowrap;*/
/*}*/

/*.tooltip-container:hover .tooltip-text {*/
/*  visibility: visible;*/
/*  opacity: 1;*/
/*}*/
