@if(state$ |async; as state)
{
    @if(state.selectedRole)
    {
        <div class="flex flex-col p-2 items-center border-r-2 h-full">
            <!-- Header -->
            <app-header [role]="state.selectedRole" class="w-full"></app-header>
            <!-- Nav -->
            <app-sections-nav [membersCount$]="membersCount$" (changeSection)="changeSection.emit($event)" [selectedSection]="state.selectedSection"></app-sections-nav>
            <!-- Sections -->
            <div class="flex flex-col justify-start items-center gap-1 py-2 h-full">
                @switch (state.selectedSection) {
                    @case (SectionTypeValue.APPEARANCE) {
                        <app-appearance [roleForm]="state.forms[0]"></app-appearance>
                    }
                    @case (SectionTypeValue.PERMISSIONS) {
                        <app-permissions [permissionsForm]="state.forms[1]"></app-permissions>
                    }
                    @case (SectionTypeValue.MEMBERS_MANAGEMENT) {
                        <app-members-management [members]="state.selectedRole.members"></app-members-management>
                    }
                }
            </div>
        </div>
    }
}
    
