<form [formGroup]="userForm" (submit)="onSubmit()">
    <!--email-->
    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="inputError">
        <div *ngIf="email?.hasError('required')">
            Email is required.
        </div>
        <div *ngIf="email?.hasError('email')">
            Email must be correct.
        </div>
    </div>
    <input type="email" id="email" aria-describedby="emailHelp" placeholder="Email" formControlName="email" />

    <!--firstname-->
    <div *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)" class="inputError">
        <div *ngIf="firstname?.errors?.['required']">
            First name is required.
        </div>
        <div *ngIf="firstname?.errors?.['pattern']">
            First name must be alphanumeric.
        </div>
    </div>
    <input type="text" id="firstname" placeholder="Firstname" formControlName="firstname" />

    <!--lastname-->
    <div *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)" class="inputError">
        <div *ngIf="lastname?.errors?.['required']">
            Last name is required.
        </div>
        <div *ngIf="lastname?.errors?.['pattern']">
            Last name must be alphanumeric.
        </div>
    </div>
    <input type="text" id="lastname" placeholder="Lastname" formControlName="lastname" />

    <!--phoneNumber-->
    <div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" class="inputError">
    </div>
    <input type="text" id="phoneNumber" placeholder="Phone Number" formControlName="phoneNumber" />

    <!--birthDate-->
    <div *ngIf="birthDate?.invalid && (birthDate?.dirty || birthDate?.touched)" class="inputError">
        <div *ngIf="birthDate?.errors?.['required']">
            Last name is required.
        </div>
    </div>
    <input type="date" id="birthDate" formControlName="birthDate" />

    <button class="confirmButton">Save</button>
</form>