  <section>
    <h2>Funkcje Aplikacji</h2>
    <ul>
      <li>Możliwość zalogowania się do własnego konta</li>
      <li>Utworzenie własnej organizacji oraz zapraszanie do niej innych użytkowników</li>
      <!--<li>Czaty między członkami danej organizacji</li>
      <li>Tworzenie ról z odmiennymi uprawnieniami w ramach organizacji</li>
      <li>Tworzenie zadań wraz z czatem dla określonych ról i członków organizacji</li>
      <li>Tworzenie ogłoszeń z powiadomieniami dla określonych ról lub całej organizacji</li>
      <li>Możliwość tworzenia grafiku (harmonogramu) na podstawie otrzymanych od członków organizacji godzin dyspozycyjności</li>
      <li>Możliwość przedstawienia historii członkostwa w organizacjach na profilu użytkownika</li>-->
    </ul>
  </section>