<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <h4>Change password</h4>
  <div>
    <label for="password">New Password:</label>
    <input type="password" id="newPassword" formControlName="newPassword" placeholder="New Password">
    <div class="inputError" *ngIf="passwordForm.get('newPassword')?.hasError('required')">
      Password is required.
    </div>
    <div class="inputError" *ngIf="passwordForm.get('newPassword')?.hasError('pattern')">
      Password must contain minimum 5 characters,<br> at
          least one uppercase letter, one lowercase letter,<br> one number and one special character.
    </div>
  </div>

  <div>
    <label for="confirmNewPassword">Confirm New Password:</label>
    <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword" placeholder="Repeat New Password">
    <div class="inputError" *ngIf="passwordForm.get('confirmNewPassword')?.hasError('required')">
      Confirm Password is required.
    </div>
    <div class="inputError" *ngIf="passwordForm.hasError('passwordMismatch')">
      Passwords do not match.
    </div>
  </div>
  

  <button class="saveChangesButton" type="submit" [hidden]="passwordForm.invalid">Submit</button>
</form>