<div *ngIf="listState$ | async as listState ">
  <div *ngIf="listState.state === listStateValue.LOADING">
    <h1>Loading ...</h1>
  </div>
  <div *ngIf="listState.state === listStateValue.SUCCESS">
    <div class="d-flex justify-content-center flex-row flex-wrap">
      <div *ngFor="let item of listState.results">
        <app-announcement-card [announcement]="item" (delete)="deleteAnnouncemnet($event)" (update)="updateAnnouncement($event)"></app-announcement-card>
      </div>
      <div class="card justify-content-center align-items-center m-2" style="min-width: 20rem; max-width: 20rem; height: auto;">
        <h6 class="my-2">Add Material</h6>
        <div *ngIf="permission">
          <button class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-circle"></i></button>
        </div>
        <div *ngIf="!permission" class="tooltip-container">
          <button class="btn btn-primary m-2 disabled-button"><i class="bi bi-plus-circle"></i></button>
          <span class="tooltip-text">Nie masz uprawnień</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="listState.state === listStateValue.ERROR">
    <p>Error while fetching data</p>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add new announcement</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle"></i></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" aria-describedby="emailHelp" formControlName="title">
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea type="text" class="form-control" id="content" aria-describedby="emailHelp" formControlName="content"></textarea>
          </div>
          <div class="mb-3">
            <label for="dateOfExpiration" class="form-label">Date of expiration</label>
            <input type="datetime-local" class="form-control" id="dateOfExpiration" aria-describedby="emailHelp" formControlName="dateOfExpiration">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="createAnnouncement()">Save changes</button>
      </div>
    </div>
  </div>
</div>
