button {
  background-color: #606560;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #393a39;
}

.disabled-button {
  background-color: grey;
  color: white;
  cursor: not-allowed;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Pozycjonuje tooltip powyżej przycisku */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap; /* Zapobiega zawijaniu się tekstu */
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
