<div class="container d-flex justify-content-center flex-row">
  <div class="mg-logo mx-auto">Mag<br>Job</div>
  <div class="card mx-auto">
    <h2 class="card-header">Register</h2>
    <form class="card-body d-flex justify-content-center flex-column" [formGroup]="registerForm" (submit)="onSubmit()">
      <!--Email-->
      <div class="mb-3">
        <div
          *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
          class="inputError">
          <label class="form-label" for="email" *ngIf="registerForm.get('email')?.hasError('required')">Email is required.</label>
          <label class="form-label" for="email" *ngIf="registerForm.get('email')?.hasError('email')">Email must be correct.</label>
        </div>
        <input class="form-control" type="email" id="email" aria-describedby="emailHelp" placeholder="Email"
          formControlName="email" />
      </div>
      <!--Password-->
      <div class="mb-3">
        <div
          *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)"
          class="inputError">
          <label class="form-label" for="password" *ngIf="registerForm.get('password')?.hasError('required')">Password is required.</label>
          <label class="form-label" for="password" *ngIf="registerForm.get('password')?.hasError('pattern')">Password must contain minimum 5 characters, at least one uppercase letter, one lowercase letter, one number and one special character.</label>
        </div>
        <input class="form-control" type="password" id="password" placeholder="Password" formControlName="password" />
      </div>

      <!--passwordConfirmation-->
      <div class="mb-3">
        <div
          *ngIf="registerForm.get('passwordConfirmation')?.invalid && (registerForm.get('passwordConfirmation')?.dirty || registerForm.get('passwordConfirmation')?.touched)"
          class="inputError">
          <label class="form-label" for="passwordConfirmation" *ngIf="registerForm.get('passwordConfirmation')?.hasError('required')">Password confirmation is required.
          </label>
          <label class="form-label" for="passwordConfirmation" *ngIf="registerForm.hasError('passwordMismatch')">Password confirmation differs
            from password.</label>
        </div>
        <input class="form-control" type="password" id="passwordConfirmation" placeholder="Repeat Password"
          formControlName="passwordConfirmation" />
      </div>

      <!--Firstname-->
      <div class="mb-3">
        <div
          *ngIf="registerForm.get('firstname')?.invalid && (registerForm.get('firstname')?.dirty || registerForm.get('firstname')?.touched)"
          class="inputError">
          <label class="form-label" for="firstname" *ngIf="registerForm.get('firstname')?.errors?.['required']">First name is required.</label>
          <label class="form-label" for="firstname" *ngIf="registerForm.get('firstname')?.errors?.['pattern']">First name must be alphanumeric.</label>
        </div>
        <input class="form-control" type="text" id="firstname" placeholder="Firstname" formControlName="firstname" />
      </div>

      <!--Lastname-->
      <div class="mb-3">
        <div
          *ngIf="registerForm.get('lastname')?.invalid && (registerForm.get('lastname')?.dirty || registerForm.get('lastname')?.touched)"
          class="inputError">
          <label class="form-label" for="lastname" *ngIf="registerForm.get('lastname')?.errors?.['required']">Last name is required.</label>
          <label class="form-label" for="lastname" *ngIf="registerForm.get('lastname')?.errors?.['pattern']">Last name must be alphanumeric.</label>
        </div>
        <input class="form-control" type="text" id="lastname" placeholder="Lastname" formControlName="lastname" />
      </div>


      <button class="btn btn-warning">Register</button>
    </form>
  </div>
</div>