<div class="registerPage">
  <div class="Logo">Mag<br>Job</div>
  <div class="mainContainer">
    <form [formGroup]="registerForm" (submit)="onSubmit()">

      <h2>Register</h2>
      <!--Email-->
      <div
        *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
        class="inputError">
        <div *ngIf="registerForm.get('email')?.hasError('required')">Email is required.</div>
        <div *ngIf="registerForm.get('email')?.hasError('email')">Email must be correct.</div>
      </div>
      <input type="email" id="email" aria-describedby="emailHelp" placeholder="Email" formControlName="email"
        />
      <!--Password-->
      <div
        *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)"
        class="inputError">
        <div *ngIf="registerForm.get('password')?.hasError('required')">Password is required.</div>
        <div *ngIf="registerForm.get('password')?.hasError('pattern')">Password must contain minimum 5 characters,<br> at
          least one uppercase letter,<br> one lowercase letter, one number and one special character.</div>
      </div>
      <input type="password" id="password" placeholder="Password" formControlName="password"
         />
      
      <!--passwordConfirmation-->
      <div
        *ngIf="registerForm.get('passwordConfirmation')?.invalid && (registerForm.get('passwordConfirmation')?.dirty || registerForm.get('passwordConfirmation')?.touched)"
        class="inputError">
        <div *ngIf="registerForm.get('passwordConfirmation')?.hasError('required')">Password confirmation is required.
        </div>
        <div *ngIf="registerForm.hasError('passwordMismatch')">Password confirmation differs
          from password.</div>
      </div>
      <input type="password" id="passwordConfirmation" placeholder="Repeat Password"
        formControlName="passwordConfirmation"/>
      
      <!--Firstname-->
      <div
        *ngIf="registerForm.get('firstname')?.invalid && (registerForm.get('firstname')?.dirty || registerForm.get('firstname')?.touched)"
        class="inputError">
        <div *ngIf="registerForm.get('firstname')?.errors?.['required']">First name is required.</div>
        <div *ngIf="registerForm.get('firstname')?.errors?.['pattern']">First name must be alphanumeric.</div>
      </div>
      <input type="text" id="firstname" placeholder="Firstname" formControlName="firstname"
        />
      
      <!--Lastname-->
      <div
        *ngIf="registerForm.get('lastname')?.invalid && (registerForm.get('lastname')?.dirty || registerForm.get('lastname')?.touched)"
        class="inputError">
        <div *ngIf="registerForm.get('lastname')?.errors?.['required']">Last name is required.</div>
        <div *ngIf="registerForm.get('lastname')?.errors?.['pattern']">Last name must be alphanumeric.</div>
      </div>
      <input type="text" id="lastname" placeholder="Lastname" formControlName="lastname"
        />
      

      <button class="confirmButton">Register</button>
    </form>
  </div>
</div>