:root {
    --Background: linear-gradient(90deg, rgba(6, 20, 27, 0.50) 0%, #06141B 22.92%, #06141B 76.05%, rgba(6, 20, 27, 0.50) 100%), #000;
    --Gold: #FFC700;
    --Gray: #4A5C6A;
    --Red: #FF1C1C;
    --Black: #1C1C1C;
    --Green: #00FF19;
    --Warning: var(--Red);
    --Error: var(--Red);
    --Text: var(--Black);
  }

a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html,
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--Background);
}

app-footer {
    position: fixed;
    bottom: 0px;
    align-self: center;
    display: flex;
    height: 20px;
    width: 95%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    margin-top: 10px;
}

app-nav-menu {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    position: sticky;
    top: 0;
    display: flex;

    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-shrink: 0;
    margin-bottom: 10px;

    background: var(--Color-2, #11212D);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
}

app-organizaton-nav {
    position: fixed;
    top: auto;
    bottom: auto;
    left: 0;
    display: flex;
    align-items: flex-start;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=tel] {

    display: flex;
    width: 420px;
    padding: var(--spacing-16-px, 16px);
    justify-content: space-between;
    align-items: center;

    border-radius: 5px;
    color: var(--Text);
    /* OTHER/Input Text */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.inputName {
    color: var(--Error);
    /* OTHER/Input Name */
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.inputError {
    color: var(--Error);
    /* OTHER/Input Name */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

label {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;

    color: var(--White, #FFF);

    /* Name of forms controls */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

form {
    /*Layout*/
    display: inline-flex;
    padding: 40px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /*Style*/
    border-radius: 5px;
    /*border: 1px dashed #000;*/
}

h2 {
    /* HEADLINE/H2-48pt */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    color: var(--Gold);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50);
}

h4 {
    color: var(--Gold);
    /* HEADLINE/H4-24pt */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button {

    width: 181px;
    height: 56px;
    flex-shrink: 0;
    justify-items: center;
    margin: 5px;

    border-radius: 10px;
    border: 1px solid #000;
    background: var(--Gold);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.50);

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

}

button:hover
{
    color: var(--Black);
}