body {
    min-height: 100vh;
}


:root {
    --Background: linear-gradient(90deg, rgba(6, 20, 27, 0.50) 0%, #06141B 22.92%, #06141B 76.05%, rgba(6, 20, 27, 0.50) 100%), #000;
    --Gold: #FFC700;
    --Gray: #4A5C6A;
    --Red: #FF1C1C;
    --Black: #1C1C1C;
    --Green: #00FF19;
    --Warning: var(--Red);
    --Error: var(--Red);
    --Text: var(--Black);
  }

app-footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    margin-top: 10px;
}

app-organizaton-nav {

    margin-top: auto;
    margin-bottom: auto;

}
app-root {
    min-width: 100vw;
    min-height: 100vh;
}

.mg-logo {
    display: flex;
    width: 378px;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    color: #ffffff;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
