<div class="container d-flex justify-content-center align-self-center">
  <div class="mg-logo mx-auto">Mag<br>Job</div>
  <div class="card mx-auto align-self-center justify-content-center flex-column text-wrap">
    <h2 class="card-header text-center">Login</h2>
    <form class="card-body d-flex flex-column" [formGroup]="loginForm">
      <!--Email-->
      <div class="mb-3">
      <div
        *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)"
        class="inputName">
        <label class="form-label" for="email" *ngIf="loginForm.controls.email.errors?.['required']">Email is
          required.</label>
        <label class="form-label" for="email" *ngIf="loginForm.controls.email.errors?.['email']">Email must be
          correct.</label>
      </div>
      <input class="form-control" type="email" id="email" aria-describedby="emailHelp" placeholder="Email"
        formControlName="email" required minlength="3" /></div>
      <!--Password-->
      <div class="mb-3 ">
      <div
        *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
        class="inputName">
        <label class="form-label" for="password" *ngIf="loginForm.controls.password.errors?.['required']">Password is
          required.</label>
        <label class="form-label d-flex text-wrap align-item-center" for="password" *ngIf="loginForm.controls.password.errors?.['pattern']">Password must
          contain minimum 5 characters, at
          least one uppercase letter, one lowercase letter, one number and one special character.</label>
      </div>
      <input class="form-control" type="password" id="password" placeholder="Password" formControlName="password"
        required /></div>

      <button class="btn btn-warning " (click)="submitApplication()">Login</button>
    </form>
  </div>
</div>