<div class="loginPage">
  <div class="logo">Mag<br>Job</div>
  <div class="mainContainer">
    <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="submitApplication()">

      <h2>Login</h2>
      <!--Email-->
      <div
      *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)"
      class="inputName">
      <div *ngIf="loginForm.controls.email.errors?.['required']">Email is required.</div>
      <div *ngIf="loginForm.controls.email.errors?.['email']">Email must be correct.</div>
    </div>
      <input type="email" id="email" aria-describedby="emailHelp" placeholder="Email" formControlName="email"
        [(ngModel)]="loginModel.email" required minlength="3" />
      <!--Password-->
      <div
        *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
        class="inputName">
        <div *ngIf="loginForm.controls.password.errors?.['required']">Password is required.</div>
        <div *ngIf="loginForm.controls.password.errors?.['pattern']">Password must contain minimum 5 characters, at
          least one uppercase letter, one lowercase letter, one number and one special character.</div>
      </div>
      <input type="password" id="password" placeholder="Password" formControlName="password"
        [(ngModel)]="loginModel.password" required />

      <button class="confirmButton">Login</button>
    </form>
  </div>
</div>